[Unit]
Description=babimo babirl process manager
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/babirl/bin/babimo
User=root
Group=root

[Install]
WantedBy=multi-user.target
